<!--begin::Header-->
<!--<div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">-->
<!--	&lt;!&ndash;begin::Header container&ndash;&gt;-->
<!--	<div class="app-container container-xxl d-flex align-items-stretch justify-content-between" id="kt_app_header_container">-->
<!--		&lt;!&ndash;begin::Logo&ndash;&gt;-->
<!--		<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">-->
<!--			<a href="/">-->
<!--				<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='dark-header'}" alt="Logo" th:src="${@theme.getAssetPath('/assets/media/logos/logo_dark_PKS.png')}" class="h-20px h-lg-30px" />-->
<!--				<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='light-header'}" alt="Logo" th:src="${@theme.getAssetPath('/assets/media/logos/logo_dark_PKS.png')}" class="theme-light-show h-25px h-lg-30px" />-->
<!--				<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='light-header'}" alt="Logo" th:src="${@theme.getAssetPath('/assets/media/logos/logo_dark_PKS.png')}" class="theme-dark-show h-25px h-lg-30px" />-->
<!--			</a>-->
<!--		</div>-->
<!--		&lt;!&ndash;end::Logo&ndash;&gt;-->
<!--		&lt;!&ndash;begin::Header wrapper&ndash;&gt;-->
<!--		<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">-->
<!--			<div th:replace="${@theme.getView('partials/header-layout/header/_page-title.html')}"></div>-->
<!--			<div th:replace="${@theme.getView('partials/header-layout/header/_navbar.html')}"></div>-->
<!--		</div>-->
<!--		&lt;!&ndash;end::Header wrapper&ndash;&gt;-->
<!--	</div>-->
<!--	&lt;!&ndash;end::Header container&ndash;&gt;-->
<!--</div>-->
<!--end::Header-->