<!--&lt;!&ndash;begin::Footer&ndash;&gt;-->
<!--<div id="kt_app_footer" class="app-footer h-100">-->
<!--	&lt;!&ndash;begin::Footer container&ndash;&gt;-->
<!--	<div class="w-100 d-flex flex-column flex-md-row flex-center flex-md-stack">-->
<!--		<footer class="footer-part w-100" >-->
<!--			<div class="container py-5">-->
<!--				<div class="row">-->
<!--					<div class="col-lg-4 mb-4">-->
<!--						<img src="/assets/media/logos/logo_dark_PUE.png" alt="Volecom">-->
<!--						<p class="pt-3">Volecom Agency - E-commerce Development Partner.</p>-->
<!--						<p><strong>Address:</strong>Lot 60 - F3, Dai Kim New Urban Area, Dai Kim Ward, Hoang Mai District, Hanoi, Vietnam.</p>-->
<!--					</div>-->
<!--					<div class="col-lg-8">-->
<!--						<div class="row">-->
<!--							&lt;!&ndash; Products &ndash;&gt;-->
<!--							<div class="col-md-4 mb-4">-->
<!--								<h5 class="fw-bold text-white">Products</h5>-->
<!--								<ul class="list-unstyled">-->
<!--									<li class="mt-3"><a href="/white-label" class="text-white text-decoration-none">White Label</a></li>-->
<!--									<li class="mt-3"><a href="/strategic-partner" class="text-white text-decoration-none">Strategic Partner</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							&lt;!&ndash; Resources &ndash;&gt;-->
<!--							<div class="col-md-4 mb-4">-->
<!--								<h5 class="fw-bold text-white">Resources</h5>-->
<!--								<ul class="list-unstyled">-->
<!--									<li class="mt-3"><a href="/white-label" class="text-white text-decoration-none">Official Partners</a></li>-->
<!--									<li class="mt-3"><a href="#" id="help-center-footer" class="text-white text-decoration-none">Help Center - Guides</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							&lt;!&ndash; Company &ndash;&gt;-->
<!--							<div class="col-md-4 mb-4">-->
<!--								<h5 class="fw-bold text-white">Company</h5>-->
<!--								<ul class="list-unstyled">-->
<!--									<li class="mt-3"><a href="/about" class="text-white text-decoration-none">About Volecom</a></li>-->
<!--									<li class="mt-3"><a href="/contact" class="text-white text-decoration-none">Contact</a></li>-->
<!--									<li class="mt-3"><a href="/terms-policy" class="text-white text-decoration-none">Terms & Policies</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="footer-bottom">-->
<!--				<div class="container">-->
<!--					<div class="row">-->
<!--						&lt;!&ndash; Copyright Section &ndash;&gt;-->
<!--						<div class="col-md-6 col-12">-->
<!--							<p class="form-footer">© 2024 - <span id="current-year"></span> All Rights Reserved by <a href="#">Volecom</a></p>-->
<!--						</div>-->

<!--						&lt;!&ndash; Terms and Privacy Section &ndash;&gt;-->
<!--						<div class="col-md-4 col-12 text-center">-->
<!--							<p class="d-inline-block me-4 cursor-pointer" id="terms-service">Terms of Service</p>-->
<!--							<p class="d-inline-block cursor-pointer" id="privacy-policy">Privacy Policy</p>-->
<!--						</div>-->

<!--						&lt;!&ndash; Social Icons Section &ndash;&gt;-->
<!--						<div class="col-md-2 col-12 d-flex justify-content-between">-->
<!--							<i class="fa-brands fa-facebook fs-4 mx-1 menu-icon"></i>-->
<!--							<i class="fa-brands fa-telegram fs-4 mx-1 menu-icon"></i>-->
<!--							<i class="fa-brands fa-youtube fs-4 mx-1 menu-icon" ></i>-->
<!--							<i class="fa-brands fa-square-instagram fs-4 mx-1 menu-icon"></i>-->
<!--							<i class="fa-brands fa-tiktok fs-4 mx-1 menu-icon"></i>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</footer>-->

<!--		<script>-->
<!--			// Automatically update the current year-->
<!--            document.getElementById("current-year").textContent = new Date().getFullYear();-->
<!--		</script>-->
<!--	</div>-->
<!--	&lt;!&ndash;end::Footer container&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;end::Footer&ndash;&gt;-->